banking-ws-metro-client/src/wsdl/breadwinner_8080/banking-ws-metro/BankingWSMetro.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://metro.ws.banking.aplikasi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://metro.ws.banking.aplikasi/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="info" type="tns:info"/>

<xs:element name="infoResponse" type="tns:infoResponse"/>

<xs:element name="saldo" type="tns:saldo"/>

<xs:element name="saldoResponse" type="tns:saldoResponse"/>

<xs:complexType name="info">
<xs:sequence>
<xs:element name="nomer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoResponse">
<xs:sequence>
<xs:element name="return" type="tns:rekening" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rekening">
<xs:sequence>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="nomer" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saldo">
<xs:sequence>
<xs:element name="nomer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>