banking-ws-metro-client/src/wsdl/breadwinner_8080/banking-ws-metro/BankingWSMetro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://metro.ws.banking.aplikasi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://metro.ws.banking.aplikasi/" name="BankingWSMetro">
<types>
<xsd:schema>
<xsd:import namespace="http://metro.ws.banking.aplikasi/" schemaLocation="http://breadwinner:8080/banking-ws-metro/BankingWSMetro?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="saldo">
<part name="parameters" element="tns:saldo"/>
</message>
<message name="saldoResponse">
<part name="parameters" element="tns:saldoResponse"/>
</message>
<message name="info">
<part name="parameters" element="tns:info"/>
</message>
<message name="infoResponse">
<part name="parameters" element="tns:infoResponse"/>
</message>
<portType name="BankingWSMetro">
<operation name="hello">
<input wsam:Action="http://metro.ws.banking.aplikasi/BankingWSMetro/helloRequest" message="tns:hello"/>
<output wsam:Action="http://metro.ws.banking.aplikasi/BankingWSMetro/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="saldo">
<input wsam:Action="http://metro.ws.banking.aplikasi/BankingWSMetro/saldoRequest" message="tns:saldo"/>
<output wsam:Action="http://metro.ws.banking.aplikasi/BankingWSMetro/saldoResponse" message="tns:saldoResponse"/>
</operation>
<operation name="info">
<input wsam:Action="http://metro.ws.banking.aplikasi/BankingWSMetro/infoRequest" message="tns:info"/>
<output wsam:Action="http://metro.ws.banking.aplikasi/BankingWSMetro/infoResponse" message="tns:infoResponse"/>
</operation>
</portType>
<binding name="BankingWSMetroPortBinding" type="tns:BankingWSMetro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="info">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankingWSMetro">
<port name="BankingWSMetroPort" binding="tns:BankingWSMetroPortBinding">
<soap:address location="http://breadwinner:8080/banking-ws-metro/BankingWSMetro"/>
</port>
</service>
</definitions>